<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 style="text-align:center">Página Home</h1>
        <hr>
        <br>
        <p style="text-align:center"><i>Api de Rick&Morty utilizada a partir de Angular y Typescript</i></p>
        <br>
        <p style="text-align:center">Rick y Morty (en inglés: Rick and Morty) es una serie de televisión estadounidense de animación para adultos creada por Justin Roiland y Dan Harmon en 2013 para Adult Swim. La serie sigue las desventuras de un científico, Rick, y su fácilmente
            influenciable nieto, Morty, quienes pasan el tiempo entre la vida doméstica y los viajes espaciales, temporales e intergalácticos. Roiland es el encargado de darle voz a Rick y a Morty, la serie también incluye las voces de Chris Parnell,
            Spencer Grammer y Sarah Chalke.
        </p>
        <br>
        <p style="text-align:center">Información obtenida a partir de Wikipedia</p>
    </div>
</body>

</html>
